---
http_interactions:
- request:
    method: get
    uri: https://us-street.api.smartystreets.com/street-address?auth-id=2e2c0e0c-f754-dc4c-d0aa-b3e21ac1b2e9&auth-token=ksNpuzXvcRzuEWE1bcxd&city=Columbus&license=us-core-cloud&street=143%20E%20Main%20St&zipcode=43215
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"input_index":0,"candidate_index":0,"delivery_line_1":"143 E Main
        St","last_line":"Columbus OH 43215-5370","delivery_point_barcode":"432155370992","components":{"primary_number":"143","street_predirection":"E","street_name":"Main","street_suffix":"St","city_name":"Columbus","default_city_name":"Columbus","state_abbreviation":"OH","zipcode":"43215","plus4_code":"5370","delivery_point":"99","delivery_point_check_digit":"2"},"metadata":{"record_type":"H","zip_type":"Standard","county_fips":"39049","county_name":"Franklin","carrier_route":"C023","congressional_district":"03","building_default_indicator":"Y","rdi":"Commercial","elot_sequence":"0232","elot_sort":"A","latitude":39.956700,"longitude":-82.993840,"precision":"Zip9","time_zone":"Eastern","utc_offset":-5,"dst":true},"analysis":{"dpv_match_code":"D","dpv_footnotes":"AAN1","dpv_cmra":"N","dpv_vacant":"N","dpv_no_stat":"Y","active":"Y","footnotes":"H#"}}]'
  recorded_at: Fri, 21 Apr 2023 04:18:47 GMT
- request:
    method: get
    uri: https://us-street.api.smartystreets.com/street-address?auth-id=2e2c0e0c-f754-dc4c-d0aa-b3e21ac1b2e9&auth-token=ksNpuzXvcRzuEWE1bcxd&city=Title&license=us-core-cloud&street=1%20Empora%20St&zipcode=11111
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "[]"
  recorded_at: Fri, 21 Apr 2023 16:06:02 GMT
recorded_with: VCR 6.1.0
